
.aline
{
	color: #ddd;
	border: 18px solid transparent;
}


table
{
	border-spacing: 0 1.5em;
	width: 100%;

}

p, h4
{
	font-size: 1em;
}

img
{
	width : 170px;
	height: 115px;
	max-width: 100%;
	max-width: 100%;
}


.viewwrap iframe 
{
    top: 0;
    left: 0;
    width: 65% !important;
    height: 65% !important;
}

